
<div class="container">
  <br/>
      <center><h1 class="white">Castle Soft</h1>
      <h3 class="white">provide your need</h3>
      <h1 class="white">Hello, Rails!</h1>
      <br/>
      <br/>

      <div class="row">
        
          <div class="col-sm-5 col-md-3">
            <div class="thumbnail">
              <img src="/astro-american-chemical.jpg" alt="...">
              <div class="caption">
                <a href="#"><h3>Social Advertising</h3></a>
                
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-md-3">
            <div class="thumbnail">
              <img src="/astro-american-chemical.jpg" alt="...">
              <div class="caption">
                <a href="#"><h3>Design</h3></a>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-md-3">
            <div class="thumbnail">
              <img src="/astro-american-chemical.jpg" alt="...">
              <div class="caption">
              <a href="#"><h3>Design</h3></a>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-md-3">
            <div class="thumbnail">
              <img src="/astro-american-chemical.jpg" alt="...">
              <div class="caption">
                <a href="#"><h3>Design</h3></a>
              </div>
            </div>
          </div>
      </div>

  </center> 
</div>

<div class="jumbotron">
	<div class="container">
  		<strong><h2 >Castle Soft</h2></strong>
  		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>


<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="/1.jpg" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>

<div class="row container">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="/1.jpg" alt="...">
    </a>
  </div>
  ...
</div>

